body{
    background-color: rgb(247, 227, 227);
}
h1{
    text-align: center;

}
hr{
    width: 100px;
    
}
h4{
    text-align: center;
    color: rgba(0, 0, 0, 0.404);
}
#bloc{
    display: block;

}
.bloc1{
    display: flex;
    position: relative;
    top: 50px;
    text-align: center;
    margin: 100px;
    left: 150px;
    
}
.bloc2{
    display: flex;
    position: relative;
    top: 100px;
    text-align: center;
    margin: 100px;
    left: 250px;
}
.bloc3{
    display: flex;
    position: relative;
    top: 150px;
    text-align: center;
    margin: 100px;
    left: 150px;
    
}
.Para1{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;

}
.Para1 button{
    position: relative;
    
}
.Para2{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;
}
.Para2 button{
    position: relative;
    

}
.Para2 p{
    position: relative;
    
}
.Para3{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;
}
.Para3 button{
    position: relative;
    
}
.Para3 p{
    position: relative;
    
}
.Para4{
    border: 1px solid black;
    position: relative;
    margin-right: 100px;
    border-radius: 10px;
    right: 100px;
}
.Para4 button{
    position: relative;
    
}
.Para4 p{
    position: relative;
    
}
.Para5{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;
    position: relative;
    right: 100px;
}
.Para5 button{
    position: relative;
    

}
.Para5 p{
    position: relative;
    
}
.Para6{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;
    position: relative;
    right: 100px;
}.Para7{
    border: 1px solid black;
    margin-right: 100px; 
    border-radius: 10px;
}
.Para8 button{
    position: relative;
    
}
.Para8 p{
    position: relative;
    
}
.Para8{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;
}
.Para9{
    border: 1px solid black;
    margin-right: 100px;
    border-radius: 10px;
}
.Para9 button{
    position: relative;
    
}
.Para9 p{
    position: relative;
    
}
button{
    background-color: rgba(243, 139, 208, 0.753);
    border-radius: 10px;
    height: 30px;
}
#bloc4{
    display: flex;
    position: relative;
    top: 150px;
    margin: 100px;
    left: 50px;
    margin-left: 200;
}
.Para10 h3{
    position: relative;
    bottom: 300px;
    font-size: 50px;
    color: rgb(83, 62, 83);
}
.Para11 h3{
    position: relative;
    bottom: 300px;
    font-size: 50px;
    color: rgb(162, 204, 238);
}
.Para12 h3{
    position: relative;
    bottom: 300px;
    font-size: 50px;
    color: rgb(66, 64, 66);

}
.Para10 {
    position: relative;
    right: 100px;
    
} 
.Para11 {
    position: relative;
    right: 50px;
    height: 300px;
    
} 
.Para12 {
    position: relative;
    right: 25px;
    
} 
#bloc5{
    position: relative;
    bottom: 200px;
    left: 400px;
}
.Para13 h5{
    position: relative;
    bottom: 500px;
    font-size: 100px;
    right:400px;
    color: rgba(252, 10, 10, 0.534);
    text-align: center;
}